:root {
    --colorGris : #474747 ; 
    --colorGrisOscuro : #363636 ;
    --colorGrisClaro : #a8a7a7 ;
    --colorRosado : #e8175d ;
    --colorRosadoOpaco : #cc527a ;
}
@font-face {
    font-family: NorthWell;
    src: url(../fonts/Northwell.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}
.Jumbotron {
    display: flex;
    width: 100%;
    background-color: #a8a7a7;
}