:root {
    --colorGris : #474747 ; 
    --colorGrisOscuro : #363636 ;
    --colorGrisClaro : #a8a7a7 ;
    --colorRosado : #e8175d ;
    --colorRosadoOpaco : #cc527a ;
}
@font-face {
    font-family: NorthWell;
    src: url(../fonts/Northwell.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}
.bkJtron {
    width: 100%;
    background-color: var(--colorGrisOscuro);
}
.Jumbotron {
    background-size: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../imgs/bgJumbo.png);
    color: #fff;
    text-align: center;
    margin-left: 10% ;
    height: 500px;
    justify-content: center;
    display: flex;
    width: 80%;
}
.JmboTxt {
    margin-top: 250px;
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.JmboTxt h3 {
    text-shadow: 2px 0px 0px black,
                 0px 2px 0px black,
                 -2px 0px 0px black,
                 0px -2px 0px black;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 15px 0 0 0 ;
    font-size: 75px;
    font-family: NorthWell;
    border-bottom: 2px solid var(--colorGrisClaro);
}
.JmboTxt span {
    text-shadow: 2px 0px 0px black,
                 0px 2px 0px black,
                 -2px 0px 0px black,
                 0px -2px 0px black;
    padding: 10px 0;
    font-size: 28px;
    font-family: RobotoThin;
}
.Jumbotron img {
    position: relative;
    border-radius: 0 0 150px 150px ;
}
@media (max-width: 768px) {
    .bkJtron {
        height: 550px;
    }
    .Jumbotron {
        margin-left: 0;
        width: 100%;
    }
    .JmboTxt {
        margin-top: 200px;
    }
    .Jumbotron h3 {
        
    }
}