:root {
    --colorGris : #474747 ; 
    --colorGrisOscuro : #363636 ;
    --colorGrisClaro : #a8a7a7 ;
    --colorRosado : #e8175d ;
    --colorRosadoOpaco : #cc527a ;
}
@font-face {
    font-family: NorthWell;
    src: url(../fonts/Northwell.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}

.studies {
    color: #ffff;
    background-color: var(--colorGrisOscuro);
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.studies h3{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: RobotoThin;
}
.btnDescarga {
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
}
.btnDescarga img{
    padding: 15px;
    width: 30px;
    transition: width 0.1s;
}
.btnDescarga img:hover {
    width: 35px;
    transition: width 0.2s;
}
.estudios {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.estudio {
    border: 2px solid var(--colorRosado);
    border-radius: 30px;
    justify-content: space-between;
    height: 130px;
    width: 500px;
    margin: 15px;
    background-color: var(--colorRosadoOpaco);
    text-align: center;
    align-items: center;
    display: flex;
    transition: background-color 0.7s;
}
.estudio:hover{
    background-color: var(--colorRosado);
    transition: background-color 0.7s;
}
.FechaLugar {
    padding: 15px;
}
.TituloInstitucion {
    padding: 15px;
}
.Titulo {
    font-family: RobotoRegular;
    font-size: 18px;
}
.Institucion {
    font-family: RobotoThin;
}
.fecha {
    font-family: RobotoRegular;
}
.lugar {
    font-family: RobotoThin;
}

@media (max-width: 768px) {
    .estudio {
        justify-content: center;
        height: 130px;
        width: 315px;
        margin: 10px;
        display: flex;
    }
    .FechaLugar {
        font-size: 14px;
        padding: 0 5px;
    }
    .TituloInstitucion {
        font-size: 14px;
        padding: 0 5px;
    }
    .Institucion {
        padding: 5px 0;
    }
}